

    <footer>
        Josep Mª Picañol - {{getAnio}} - <cite title="Curso Node de 0 a Experto">Source Title</cite>
    </footer>

    <!-- Esto lo hemos cogido de getbootstrap.com -> Download y lo hemos copiado tal cual
         Debe ir antes de la declaración del bootstrap.min.js
    -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>