<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- Mis estilos propios (de JR) -->
    <link rel="stylesheet" href="./assets/css/myStyle.css">
    <title>Página WEB | Demo</title>
</head>

<body>
